<div class="container">
  <div class="modal" id="biomodal">
    <div class="modal-content">
      <div class="container">
        <h1>Enter your bio</h1>
          <form id="bioForm" method="post">
            <textarea id="bio" name="bio" type="text">
                {{bio}}
            </textarea>
          </form>
      </div>
        <div class="modal-footer">
        <a href="" class="modal-close btn red darken-3">Close</a>
        </div>
    </div>
  </div>
</div>
<script src="./assets/script/bio.js"></script>