<div class="container">
  <div class="modal grey darken-4" id="login">
    <div class="modal-content">
        <div class="container">

            <h4 class="green-text center">Log In</h4>
            
              <div class="row container grey darken-4">

                <div class="input-field col s4">
                  <input id="user_name" type="text">
                  <label for="user_name">User Name</label>
                </div>

                <div class="input-field col s4">
                    <input id="passWord" type="password">
                    <label for="passWord">Password</label>
                  </div>
                <div class="col s4 ">
                    <span class="green-text">Log in </span>
                    <a href="#" class="btn-floating green pulse">
                        <i class="material-icons">send</i>
                    </a>
                </div>
              </div>

           <h4 class="blue-text center">Sign Up</h4>

      
            <div class="row container grey darken-4">

                <div class="input-field col s4">
                  <input id="user_name" type="text">
                  <label for="user_name">User Name</label>
                </div>

                <div class="input-field col s4">
                    <input id="passWord" type="password">
                    <label for="passWord">Password</label>
                </div>
                <div class="col s4">
                  <span class="blue-text">Sign up </span>
                  <a href="#" class="btn-floating blue pulse">
                    <i class="material-icons">send</i>
                  </a>
                </div>
            </div>
        </div>
    </div>
  <div class="modal-footer grey darken-4">
  <a href="" class="modal-close btn red darken-3">Close</a>


    </div>
  </div>
</div>