<div class="row">
    <div class="column-1" id="usernameCol" style="background-color:#01579b;">
        <h4 class="center-align">{{username}}'s Favorites</h4>
    </div>
    <div type="input" id="bioBox"> Place Holder for Bio </div>
    <div class="column-2" id="favoritesCol" style="background-color:#004d40;">
        <h4 class="center-align">Favorite Movies</h4>
    </div>
    </div>