
<div class="row">
    <div class="column-1" style="background-color:#01579b;">
        <h4 class="center-align">Search Filters</h4>
        <div id="actorFilters">
            <h4 class="header hoverable chip" style="visibility:hidden;" id="search-filter-1">(Search Filter Placeholder) <i class="close material-icons" id="closeButton">close</i></h4>
            <h4 class="header hoverable chip" style="visibility:hidden;" id="search-filter-2">(Search Filter Placeholder) <i class="close material-icons" id="closeButton">close</i></h4>
            <h4 class="header hoverable chip" style="visibility:hidden;" id="search-filter-3">(Search Filter Placeholder) <i class="close material-icons" id="closeButton">close</i></h4>
        </div>
    </div>
    <div class="column-2" id="resultsCol" style="background-color:#004d40;">
        <h4 class="center-align">Results</h4>
    </div>
        <div id="resultsCon"></div>
    </div>